{% extends 'headerPage.html' %}

{% block content%}

    <h2>Image Classifier</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <input name="filePath" type="file">
 <br>

 <input type="submit" value="What is it?" >
</form>
<br>

{% if filePathName %}
 <h2>The predicted results are </h2>
 <ol>
 {% for result in predictedResults %}
    {% with p=result.prediction %}
        {% if p < 0.1 %}
            <li>{{ result.label }}: < 0.1</li>
        {% else %}
            <li>{{ result.label }}:  {{p }}</li>
        {% endif %}
    {% endwith %}
  {% endfor %}
</ol>
  
    <img src={{filePathName}} width='300' alt='imagename'>
{% endif %}


</div>

{% endblock %}