{% extends 'headerPage.html' %}

{% block content%}

    <h2>Upload Image</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <input name="filePath" type="file">
 <br>

 <input type="submit" value="Submit" >
</form>
<br>

{% if filePathName %}
 <h2>The predicted results are </h2>
 {% for result in predictedResults %}
     <li>{{ result.label }}  {{result.prediction }}</li>
  {% endfor %}
  
    <img src={{filePathName}} alt='imagename'>
    {% endif %}


</div>

{% endblock %}